html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* CSS STARTS HERE */

*{
    box-sizing: border-box;
}
body{
  background-image: url(../css/yuyuhakusho-yusuke.gif);
  background-size: cover;

}
.move {
  margin: 217px 0 0 618px;
}
.top{
    border: 1px solid;
    width: 50%;
    height: 100px;
    background-color: black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgba(68, 95, 178, 0.268);
}
.top form{
    margin-left: 8px;
    margin-top: 5px;
}
.mid{
    border: 1px solid;
    width: 50%;
    height: 100px;
}
.mid li {
  font-weight: bold;
  font-size: 20px;
  color: aliceblue;
}
.bot{
    border: 1px solid;
    width: 50%;
    height: 100px;
    background-color: rgba(68, 95, 178, 0.279);    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.bot p, .bot span {
  color: aliceblue;
  font-weight: bold;
}
.bot button{
    margin-top: 44px;
    margin-left: 8px;
}
.strike{
  text-decoration: line-through;
}

