/******************************************
/* SETUP
/*******************************************/
/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {
	clear: both;
}
.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}
.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}
/* Contain floats */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  *zoom: 1;
}
.block{
  display: block;
}
.floatleft{
  float: left;
}
.floatright{
  float: right;
}
.bold{
  font-weight: bold;
}
.italic{
  font-style: italic;
}
.redbox {
  border: 2px solid red;
}
/******************************************
/* BASE STYLES
/*******************************************/
body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
     background-color: rgba(67,159,185,1.0);
}
a{
  text-decoration: none;
}
/******************************************
/* LAYOUT
/*******************************************/
#listContainer{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  text-align: center;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header {
  background-color: #1e1e1e;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 12px;
  padding-top: 18px;
}
#mid{
  background-color: lightgrey;
}

#leftToDo{
  margin-bottom: 12px;
}

.checked {
  text-decoration: line-through;
  color: grey;
}

.item:nth-child(odd){
  background-color: #e5e5e5;
}

button{
  background-color: white;
  border-radius: 12px;
  border: 0px solid white;
  height: 24px;
  padding-left: 8px;
  padding-right: 8px;
}
#input{
  border-radius: 12px;
  border: 0px solid white;
  height: 24px;
  text-align: center;
}
li{
  font-size: 18px;
  padding: 8px;
}

footer {
  color: white;
  background-color: #1e1e1e;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 12px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media only screen and (max-width: 600px){
}
@media (min-width: 601px) and (max-width: 820px){
}
@media (min-width: 821px) and (max-width: 920px){
}
@media (min-width: 921px) and (max-width: 1213px){
}
@media (min-width: 1400px){
}
