*{
    box-sizing: border-box;
}

body{
    margin-top:5%;
    margin-left:30%;
    background: url(../images/wallpaperflare.com_wallpaper.jpg) no-repeat center;
    background-size:cover;
}
html{
    font-size: 62.5%;
}
    h1{
        font-family: 'Righteous', 'Helvetica', 'sans-serif'; 
        font-size: 5rem;
        color: rgb(175,238,238);
        margin-left:20%;
    }
    h2{
        color: rgb(255,20,175);
        margin-left: 25%;
        font-size:2rem;
    }
    #count{
        color: rgb(255,20,175);
        margin-left: 5%;
    }

    ul{
        height:500px;
        width:30%;
      
        }
        .changeMe li{
            font-family: 'Edu NSW ACT Foundation', 'Helvetica', 'sans-serif', cursive; 
            font-size:3rem;
            color: rgb(255,20,175);
            margin-left: 30%;
        
        }
    
        li.crossOut{
            text-decoration: line-through;
            color: rgb(255,20,234);
        }

    input[type=text]{
        padding:10px 250px 10px 10px;
        margin-right: 3%;
        margin-left: 10%;
    }    

        button{
            width: 150px;
            height: 45px;
            border-radius: 20px;
            background-color: rgb(241,187,199);
        }
        .btnTwo{
            margin-left: 3%;
        }
        .btnThree{
            margin-left: 33%;
        }

@media (max-width: 1500px){
   ul{
    height:450px;
   }
}
@media (max-width: 1400px){
    input[type=text]{
        margin-left:5%;
    }
    h1{
        margin-top:8%;
    }
}
@media (max-width: 1250px){
    button{
        width:100px;
        height:35px;
    }
    h2{
        margin-top:0;
    }
}
@media (max-width: 1200px){
    ul{
        height: 300px;
    }
} 
@media (max-width: 1100px){
    input[type=text]{
        padding:5px 150px 5px 5px;
    }
}
@media (max-width: 700px){
    body{
        background:none;
        margin-left:3%;
    }
    h1{
        margin-left:20%;
        font-size:3rem;
    }
    h2{
        margin-left: 30%;
    }
}
