/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}
html{
font-size: 62.5%;
}
/******************************************
/* LAYOUT
/*******************************************/
html {
  background: url(../img/Scrap.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.intro{
  height: 90px;
  width: 25%;
  text-align: center;
  border-radius: 100px;
  background-color: rgb(248, 230, 208);
  font-size: 2rem;
  color: rgb(58, 101, 62);
}

button {
  background-color: rgb(248, 230, 208);
  color: rgb(58, 101, 62);
  border: 1px solid rgb(58, 101, 62);
  border-radius: 10px;
  height: 25px;
  width: 10%;
}

input {
  height: 25px;
  width: 30%;
  border-radius: 10px;
  border: none;
}

.page{
  height: 400px;
  width: 98%;
  background-color: rgba(248, 230, 208, 0.5);
  border-radius: 10px;
  text-align: center;
}

h2{
  color: rgb(58, 101, 62);
  font-size: 2rem;
}

.font{
  font-size: 1.5rem;
  color: rgb(58, 101, 62)
}

li{
  font-size: 1.5rem;
  color: rgb(58, 101, 62);
  list-style-type: circle;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
