/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background: rgba(1, 7, 54, 1);
}

html {
  font-size: 62.5%;
}


/******************************************
/* LAYOUT
/*******************************************/
section{
  color: white;
  width: 50%;
  margin: 10rem auto;
  text-align: center;
}

.fa-solid {
  font-size: 7rem;
  padding-bottom: 3rem;
}

h3 {
  border-bottom: .3px rgba(213, 92, 79, 1) solid;
  font-size: 4rem;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 1rem;
}

p {
  font-size: 2rem;
}

form {
  font-size: 1.7rem;
}

form input {
  width: 40rem;
  border-radius: 1rem;
  border: none;
  padding-left: 1rem;
}

form button, button {
  width: 20rem;
  border-radius: 1rem;
  background: rgba(213, 92, 79, 1);
  color: white;
  border: none;
}

ul {
  margin-top: 5rem;
  margin: 5rem auto;
  width: 40rem;

}

li {
  list-style: none;
  margin: 2rem auto;
  font-size: 2em;
  background: white;
  color: black;
  border-radius: 1rem;
  margin-left: -2rem;
}

#totalTaskLeft {
  display: block;
  font-size: 2rem;
  margin-top: 3rem;
}

#clearCompleted, #clearList {
  margin-top: 3rem;
  font-size: 1.7rem;
  border-radius: .5rem;

}

.completed {
  background: rgba(93, 67, 222, 1);
  color: white;
  text-decoration: line-through;
}

button:hover, li:hover {
  opacity: .7;
  cursor: pointer;
}

@media screen and (max-width: 700px){
 
  form input {
    border: 1px solid green;
    width: auto;
  }

  li {
    width: 50%;
    margin-left: 3rem;
  }
}
