* {
  box-sizing: border-box;
  font-size: 62.5;
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url(backkk.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.parent {
  width: 50%;
  margin: 300px auto;
}

input {
  margin-top: 10px;
  font-size: 1.5rem;
}

h1 {
  font-size: 2rem;
  color: white;
  border-bottom: 5PX solid white;
  width: 60%;
  display: inline-block;
}

.fas.fa-plus-circle {
  color: white;
  margin-left: 20px;
  display: inline-block;
  font-size: 1.5rem;
}

.done {
  text-decoration: line-through;
}

li {
  padding-top: 10px;
  font-size: 2rem;
  color: white;
}

.fas.fa-redo {
  margin-left: 50px;
}

.fas.fa-trash {
  margin-right: 15px;
  font-size: 1.5rem;
}

p {
  color: white;
  margin-top: 15px;
  font-size: 1.5rem;
}
