* {
  box-sizing: border-box;
}


.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  }

body {
margin: 10% 20%;
background-color: #bf94e4	;
}

section {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #ddd;
}

.list {
  padding: 20px 30px;
  background-color: white;
  color: black;
}

li {
  list-style-type:none;
  font-size: 30px;
}

button, input {
  height: 40px;
  padding: 5px 15px;
  font-size: 15px;
  margin-bottom: 15px;
}

input {
  width: 50%;
}


.bottomSec span,  p  {
  color: white;
  font-size: 30px;
  margin: 10px 0;
}




.completed{
  text-decoration: line-through;
  color: gray;
}

.createdLiAttr{
  list-style-type:none;
  font-size: 30px;
}

.delete{
  display:none;
}
