* {
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;

  }
.topSec{
  background-image: url(burrgertop.jpg);
  background-position: center;
}
.bottomSec{
  background-image: url(bottom.jpg);
  background-position: center;
}
section {
      margin: 0 0 0 25%;
      width: 50%;
      background-color: brown;
      padding: 30px;
      border-radius: 15%;
  }
h1{
  background-color: rgba(216, 216, 216, 0.8);
  padding: 0 0 0 0;
  color: red;
  font-size: 30px;
  margin: 0 0 0px 36%;
  max-width: 23%;
}
li{
  font-size: 20px;
  max-width: 40%;
}
.inputItem{
  margin: 0 0 0 0;
  height:20px;
  width: 20%;
}
.list {
  background-image: url(tall.png);
  background-position: center;
  padding: 0 0 0 0;
  background-color: white;
  color: black;
}
ul{
  margin: 0 0 0 0;
}

.unchecked {
  list-style-type:none;
}

.bottomSec span, .bottomSec p {
  padding: 0 0 0 2%;
background-color: rgba(216, 216, 216, 0.8);
  color: red;

}
.clearCompletedButton{
  color: red;
}
.completed{
  text-decoration: line-through;
  color: silver
}
.clear{
  display: none;
}
