*{
 box-sizing: border-box;
}
body{
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 color: magenta;
}
.topBlackPart{
 height: 10%;
 width: 40%;
 background-color: pink;

}
.whitePart{
 min-height: 20%;
 background-color: white;
 width: 40%;
 height: auto;
 border: 1px solid black;
}
.bottomBlack{
 height: 15%;
 width: 40%;
 background-color: pink;
}

.crossed{
  text-decoration: line-through;
  color: grey;
}
