section{
  border: 2px solid black;
  width: 80%;
  margin-left: 10%;
  background-color: navy;
}
form{
  border: 2px solid black;
  width: 80%;
  background-color: lightblue;
}

.clearCompleted {
  text-decoration: line-through;
  color: darkgray;
}
