<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>To Do List</title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap" rel="stylesheet">


		<!-- external CSS link -->
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/module.css">
	</head>
	<body>
		<article>
		<section id="taks" >
			<input type="text" name="" id="inputTask" placeholder="Enter your task here">

			<button type="button" id="taskButton" name="button">Add</button>
		</section>
		<section id="list" >
			<ul id='actualList'>



			</ul>

		</section>
		<section id="clear" >
			<span id='listLeft'></span>
			<button type="button" id="clearList" name="button">Clear List</button>
			<button type="button" id="clearCompleted" name="button">Clear Completed</button>
		</section>





	</article>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
