body{
  background-image: url("images/calm.jpeg");
  font-size: 10px;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
}
/* .loginInput{
  align-content: flex-end;
} */
section{
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
  border: 2px solid brown;
}
ul {
  list-style: none;
}
h1 {
  color: brown;
  font-size: 3rem;
}
p{
  font-size: 2rem;
  color: brown;
}

span{
  font-size: 2rem;
  color: brown;
  list-style: none;
  font-weight: bold;
}

input{
  font-size: 1.1rem;
  width: 32%;
  text-align: center;
  border-radius: 7%;
  border-color: none;
  padding: 1%;
}

button{
  font-size: 1.2rem;
  border: 0;
  line-height: 2.5;
  font-size: 1.2rem;
  text-align: center;
  color: lightblue;
  border-radius: 5%;
  background-color: brown;
  margin-top: 2%;
  margin-bottom: 2%;
}
