*{
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
  font-family: arial;
}
body{
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat:repeat-y;
}
#itemToAdd{
list-style-type: none;
padding: 0;
}
h1{
  font-size: 3rem;
}
input{
  width: 25%;
  padding: 5px 0;
}
#addsTask{
  width: 5%;
  padding: 5px 0;
}
p, span{
  font-size: 1.8rem;
}
li {
  font-size: 1.8rem;
  font-size: 900;
}
.btnSec button {
  font-size: 1.2rem;
  width: 15%;
  padding: 5px 0;
}



.strike{
  text-decoration: line-through;
}


@media only screen and (max-width: 500px) {
  #addsTask {
    width: 15%;
  }
  .btnSec button {
    font-size: 0.86rem;
    width: 49%;
  }
  input {
    width: 75%;
  }
}

@media (min-width:501px) and (max-width: 1439px){
  #addsTask {
    width: 15%;
  }
  input{
    width: 57%;
  }
  .btnSec button {
    font-size: 1.2rem;
    width: 44%;
  }
}
