/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  width: 60%;
  margin: 0 auto;
}

input {
  width: 30%;
  height: 100px;
}

button {
  width: 15%;
  height: 100px;
}

.lineThrough {
  text-decoration: line-through;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
