html{
    font-size: 62.5%;
}

body{

    font-family: 'Lilita One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 221, 209);
}

h1{
    text-align: center;
    color: white;
    font-size: 4rem;
}


.container{
    
    padding: 2rem;
    border-radius: 1rem;
    width: 90%;

}


.center{
    text-align: center;
}


input{
    border: none;
}

button{
    margin-left:1rem;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    background: black;
    padding: .6rem;
}

.strike{
    text-decoration: line-through;

}

.hidden{
    display:none;
}

#task{
    display: inline-block;
    width: 20rem;

}

li{
    list-style-type: none;
    font-size: 2rem;
    margin-left: 48rem;
    text-align: left;
}