*{
  box-sizing: border-box;
  font-weight: bold;
  font-size: 30px;
  color: rgb(33, 57,95);
}

.strike{
  text-decoration: line-through;
}
section h1{
  font-size: 80px;

}
body{
  background-image: url(wall.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.biggestContainer{
  margin-left: 650px;
}
@media only screen and (max-width:1300px) {
  .biggestContainer{
    margin:0;
  }
  body{
    background-image: url(wall.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 760px;
  }

}
