* {
  box-sizing: border-border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;

}

h1 {
  font-size: 3em;
  color: white;
  margin-bottom:1.5em;
}

.topBlackPart {
  height: 10%;
  width: 40%;
  background-color: rgb(255, 102, 0);
  border: 1px solid black;
}

.whitePart {
  min-height: 20%;
  height: auto;
  background-color: white;
  width: 40%;
  border: 1px solid black;
}

.bottomBlackPart {
  height: 15%;
  width: 40%;
  background-color: rgb(255, 102, 0);
  border: 1px solid black;
}

.completed {
  text-decoration: line-through;
}

p {
  color: white;
  font-size: 1.3em;
}

input {
  width: 45%;
  height: 2em;
  font-size: 1em;
}

button {
width: 40%;
font-size: 1.2em;
}
